@import url(https://fonts.googleapis.com/css?family=Nanum+Pen+Script);
@import url(https://fonts.googleapis.com/css?family=Bad+Script);
@import 'icofont.css';

p.mb,
p.ph {
  font-family: Bad Script;
  animation: reveal .9s;
  transition: font-size ease .2s;
}

p.mb:hover,
p.ph:hover {
  font-size: 1.4em;
}

p.bd {
  animation: reveal 1s;
}

p.bd::before {
  font-family: IcoFont;
  content: '\e98a';
}

div.back {
  background: url(https://c.pxhere.com/photos/fb/b3/star_glow_night_sky_dark_milky_way-184039.jpg!d) no-repeat calc(50% - 50px) calc(50% - 120px)/800px fixed, rgb(9, 7, 8);
  height: 700px;
  padding: 30px;
}

@media (min-device-width: 480px) {
  div.back {
    background-position: calc(50% + 50px) calc(50% - 120px);
  }
}


div.back p {
  font-family: Nanum Pen Script, Bad Script;
  font-size: 1.5em;
  padding-left: 15px;
  color: white;
  animation: reveal 1.5s;
}

div.back div {
  border: 2px solid white;
  padding: 10px;
  max-width: 300px;
  margin-top: 30px;
  animation: reveal 1s;
}

p.ha {
  background: linear-gradient(45deg, crimson, transparent)
}

p.jeus {
  background: linear-gradient(45deg, mediumslateblue, transparent)
}

div.back p.ha,
div.back p.jeus {
  font-family: Bad Script;
  font-size: 1.4em;
}

img[src*="/upload/TS/pcard-photo/2019067.jpg"] {
  animation: reveal .5s;
}

@keyframes reveal {

  0%,
  50% {
    opacity: 0;
    transform: translateY(20px);
  }
}